<!DOCTYPE html>

<html lang="en" >

{{ include('head.html.twig') }}


<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->

<div class="m-grid m-grid--hor m-grid--root m-page">

    {{ include('header.html.twig') }}

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        {{ include('leftsidebar.html.twig') }}

        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Сейчас в кинотеатрах:
                        </h3>
                    </div>

                </div>
            </div>
            <!-- END: Subheader -->


            <div class="m-content">
                <!--Begin::Main Portlet-->
                <div class="row">

                    {% for result in results %}
                        <div class="col-xl-3">
                            <!--begin:: Widgets/Blog-->
                            <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
                                <div class="m-portlet__head m-portlet__head--fit">
                                    <div class="m-portlet__head-caption">
                                        <div class="m-portlet__head-action">
                                            <button type="button" class="btn btn-sm m-btn--pill  btn-brand">
                                                {{ result.category }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__body">
                                    <div class="m-widget19">
                                        <div class="m-widget19__pic m-portlet-fit--top m-portlet-fit--sides" style="min-height-: 150px">
                                            <img src="{{ result.photourl }}" alt="" height="400">
                                            <h3 class="m-widget19__title m--font-light">
                                                {{ result.name }}
                                            </h3>
                                            <div class="m-widget19__shadow"></div>
                                        </div>
                                        <div class="m-widget19__content">

                                            <div class="m-widget19__body">
                                                <br><br>
                                                {{ result.description }}
                                            </div>
                                        </div>
                                        <div class="m-widget19__action">
                                            <a href="/film/{{ result.id }}">
                                                <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--hover-brand m-btn--custom">
                                                    Выбрать сеанс.
                                                </button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:: Widgets/Blog-->
                        </div>

                    {% endfor %}


                </div>
                <!--End::Main Portlet-->





            </div>
        </div>
    </div>
    <!-- end:: Body -->
    {% include ('footer.html.twig') %} }

</div>
<!-- end:: Page -->


</body>
<!-- end::Body -->
</html>
