<!DOCTYPE html>

<html lang="en" >

{{ include('head.html.twig') }}


<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->

<div class="m-grid m-grid--hor m-grid--root m-page">

    {{ include('header.html.twig') }}

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        {{ include('leftsidebar.html.twig') }}

        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Сейчас в кинотеатрах:
                        </h3>
                    </div>

                </div>
            </div>
            <!-- END: Subheader -->


            <div class="m-content">
                <!--Begin::Main Portlet-->
                <div class="row">

                    <table class="table">
                        <thead>
                        <tr>

                            <th>Name</th>
                            <th></th>
                            <th>Category</th>
                            <th>Description</th>

                            <th>Сеансы:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for film in films %}
                            <tr>

                                <td><h5>{{ film.name }}</h5></td>
                                <td><img src="{{ film.photourl }}" width="120"></td>
                                <td>{{ film.category }}</td>
                                <td>{{ film.description }}</td>

                                <td>
                                    <a href="{{ path('film_show', {'id': film.id}) }}">show</a>
                                    <a href="{{ path('film_edit', {'id': film.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <!--End::Main Portlet-->





            </div>
        </div>
    </div>
    <!-- end:: Body -->
    {% include ('footer.html.twig') %} }

</div>
<!-- end:: Page -->


</body>
<!-- end::Body -->
</html>
