<!DOCTYPE html>

<html lang="en" >

{{ include('head.html.twig') }}


<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->

<div class="m-grid m-grid--hor m-grid--root m-page">

    {{ include('header.html.twig') }}

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        {{ include('leftsidebar.html.twig') }}

        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            "{{ film.name }}"
                        </h3>
                    </div>

                </div>
            </div>
            <!-- END: Subheader -->


            <div class="m-content">
                <!--Begin::Main Portlet-->
                <div class="row">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th></th>
                            <td><img src="{{ film.photourl }}" width="250"></td>
                        </tr>


                        <tr>
                            <th>Category</th>
                            <td>{{ film.category }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ film.description }}</td>
                        </tr>
                        <tr>
                            <th>Сеансы</th>
                            <td>
                            {% for seans in seanses %}
                                {{ seans.date ? seans.date|date('d-m-Y') : '' }}
                                {% endfor %}
                            </td>
                        </tr>


                        </tbody>
                    </table>


                </div>
                <!--End::Main Portlet-->





            </div>
        </div>
    </div>
    <!-- end:: Body -->
    {% include ('footer.html.twig') %} }

</div>
<!-- end:: Page -->


</body>
<!-- end::Body -->
</html>
