{% extends 'base.html.twig' %}

{% block title %}Userorder index{% endblock %}

{% block body %}
    <h1>Userorder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Seansid</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userorder in userorders %}
            <tr>
                <td>{{ userorder.id }}</td>
                <td>{{ userorder.userid }}</td>
                <td>{{ userorder.seansid }}</td>
                <td>{{ userorder.status }}</td>
                <td>
                    <a href="{{ path('userorder_show', {'id': userorder.id}) }}">show</a>
                    <a href="{{ path('userorder_edit', {'id': userorder.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('userorder_new') }}">Create new</a>
{% endblock %}
