{% extends 'base.html.twig' %}

{% block title %}Userorder{% endblock %}

{% block body %}
    <h1>Userorder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ userorder.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ userorder.userid }}</td>
            </tr>
            <tr>
                <th>Seansid</th>
                <td>{{ userorder.seansid }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ userorder.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('userorder_index') }}">back to list</a>

    <a href="{{ path('userorder_edit', {'id': userorder.id}) }}">edit</a>

    {{ include('userorder/_delete_form.html.twig') }}
{% endblock %}
