<!-- BEGIN: Header -->
<header class="m-grid__item    m-header "  data-minimize-offset="200" data-minimize-mobile-offset="200" >
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a href="{{ path('main') }}" class="m-brand__logo-wrapper">
                            <img alt="" src="assets/demo/default/media/img/logo/logo_default_dark4.png"/>
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Left Aside Minimize Toggle -->
                        <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block
					 ">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>

            <div class=container>
                <div class="row">
                    <div class="col-4" align="center">
                        Время работы:<br>
                        Пн-Пт: 12:00 - 21:30<br>
                        Сб-Вс: 09:00 - 24:00
                    </div>
                    <div class="col-4" align="center">
                        Контактная информация:<br>
                        Тел: +375 29 2505979 life:)<br>
                        Skype: kinoteatr.gagarin
                    </div>

                    <div class="col-4" align="center">
                        {% if is_granted("ROLE_USER") %}
                        Вы вошли как <b>{{ app.user.username }}</b>,<br> <a href="{{ path('app_logout') }}">Выйти.
                            {% else %}
                                Чтобы заказать билеты <a href="{{ path('app_login') }}">ВОЙДИТЕ,</a><br>
                                или <a href="{{ path('register') }}">Зарегистрируйтесь</a>, если вы не зарегистрированы.
                            {% endif %}
                    </div>

                </div>
            </div>





        </div>
    </div>
</header>
<!-- END: Header -->