{% extends 'base.html.twig' %}

{% block title %}Kinoteatr{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="col logo">
                <img src="{{ asset('')}}" alt="">
            </div>

            <div class="col">
                <ul>Время работы: <br>
                    <li>пн-пт: 10 - 24</li>
                    <li>сб-вс: 12-02</li>
                </ul>
            </div>

            <div class="col">
                <form action="">
                    Вход в профиль:<br>
                    <input type="email">  E-mail<br>
                    <input type="password">  Password<br>
                    <input type="submit" value="Войти">

                </form>
            </div>
        </div>
    </div>

    <h1>Кинотеатр {{ kinoteatr.info }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kinoteatr.id }}</td>
            </tr>
            <tr>
                <th>Info</th>
                <td>{{ kinoteatr.info }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ kinoteatr.address }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ kinoteatr.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kinoteatr_index') }}">back to list</a>

    <a href="{{ path('kinoteatr_edit', {'id': kinoteatr.id}) }}">edit</a>

    {{ include('kinoteatr/_delete_form.html.twig') }}
{% endblock %}
