{% extends 'base.html.twig' %}

{% block title %}Seans index{% endblock %}

{% block body %}
    <h1>Seans index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time</th>
                <th>Filmid</th>
                <th>Hallid</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sean in seans %}
            <tr>
                <td>{{ sean.id }}</td>
                <td>{{ sean.date ? sean.date|date('Y-m-d') : '' }}</td>
                <td>{{ sean.time ? sean.time|date('H:i:s') : '' }}</td>
                <td>{{ sean.filmid }}</td>
                <td>{{ sean.hallid }}</td>
                <td>{{ sean.price }}</td>
                <td>
                    <a href="{{ path('seans_show', {'id': sean.id}) }}">show</a>
                    <a href="{{ path('seans_edit', {'id': sean.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seans_new') }}">Create new</a>
{% endblock %}
