<!DOCTYPE html>

<html lang="en" >

{{ include('head.html.twig') }}


<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->

<div class="m-grid m-grid--hor m-grid--root m-page">

    {{ include('header.html.twig') }}

    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

        {{ include('leftsidebar.html.twig') }}

        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Выбор места:
                        </h3>
                    </div>

                </div>
            </div>
            <!-- END: Subheader -->


            <div class="m-content">
                <!--Begin::Main Portlet-->
                <div class="row">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Фильм:</th>
                            <td><h4>"{{ sean.filmid.name }}"</h4><br>
                                <img src="{{ sean.filmid.photourl }}" width="200">
                            </td>
                        </tr>
                        <tr>
                            <th>Дата сеанса:</th>
                            <td>{{ sean.date ? sean.date|date('d-m-Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Время начала сеанса:</th>
                            <td>{{ sean.time ? sean.time|date('H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Стоимость билета:</th>
                            <td>{{ sean.price }} BYN</td>
                        </tr>

                        <tr>
                            <th>Тест:</th>
                            <td>{{ sean.filmid }}</td>
                        </tr>


                        <tr>
                            <th>Список мест:</th>
                            <td>

                                <table class="table table-sm">

                                    <tbody>
                                            {% for j in 1..seats.rows %}
                                                <tr>

                                                     {% for i in 1..seats.SeatsInRow %}
                                                        <td>
                                                            <span class="badge badge-success" id="{{ j }}{{ i }}" onClick="openPlace({{ j }},{{ i }})">{{ j }}.{{ i }}</span>
                                                        </td>
                                                     {% endfor %}

                                                </tr>
                                            {% endfor %}


                                    </tbody>
                                </table>


                            </td>
                        </tr>


                        </tbody>
                    </table>

                    <a href="{{ path('seans_index') }}">Список всех сеансов</a>

                    

                </div>
                <!--End::Main Portlet-->





            </div>
        </div>
    </div>
    <!-- end:: Body -->
    {% include ('footer.html.twig') %} }

</div>
<!-- end:: Page -->


</body>
<!-- end::Body -->
</html>
