{% extends 'base.html.twig' %}

{% block title %}Seans{% endblock %}

{% block body %}
    <h1>Seans</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sean.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ sean.date ? sean.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ sean.time ? sean.time|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ sean.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seans_index') }}">back to list</a>

    <a href="{{ path('seans_edit', {'id': sean.id}) }}">edit</a>

    {{ include('seans/_delete_form.html.twig') }}
{% endblock %}
